body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FFEFBE;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    background-color: #F85618;
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
    align-items: center;
    color: white;
}

header img {
    height: 100%;
    max-height: 40px;
}

header p {
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    align-items: center;
}

.banner {
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
    display: flex;
    justify-content: end;
    margin-left: 10px;
}

.banner img {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 980px;
}

.decor-bar {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 60px;
    background-color: #8377D1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decor-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.decor-bar li {
    color: white;
    padding: 0 42px;
    font-size: 22px;
}
li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

li a:hover {
    border-radius: 18px;
    background-color: #F85618;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F85618;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

