@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mochiy+Pop+One&display=swap');

body {
    font-family: "Mochiy Pop One", sans-serif;
    font-style: normal;
    background-color: #FFF7DD;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    background-color: #F85618;
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
    align-items: center;
    color: white;
    z-index: 1000;
}

header img {
    height: 100%;
    max-height: 40px;
}

header p {
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    align-items: center;
}

.banner {
    width: 100%;
    height: auto;
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.banner img {
    width: 80%;
    height: auto;
    max-width: none;
    object-fit: cover;
}

.banner-title {
    color: #1E005B;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    max-width: 40%;
    line-height: 1.3;
}

.banner-title p {
    font-family: "Mochiy Pop One", sans-serif;
}

.decor-bar {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 60px;
    background-color: #51459D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decor-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.decor-bar li {
    color: white;
    padding: 0 42px;
    font-size: 22px;
}

.decor-bar h3 {
    color: white;
    padding: 36px;
}

li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

li a:hover {
    border-radius: 18px;
    background-color: #F85618;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F85618;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;

}

.adoption-info {
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
    color: #1E005B;
}

.steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.step-title h1 {
    font-size: 36px;
}

.adoption-info h3 {
    font-size: 24px;
}

.step {
    width: 30%;
    min-width: 220px;
    margin-bottom: 20px;
    text-align: left;
}

.cat-grid-title{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    color:#DF3E0D;
    margin: 40px 0 20px;  
    background-color: #FFD970;
    margin: 0;
   
}
.cat-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Revisar essa parte*/
    gap: 20px;
    padding-bottom: 5%; /* Lembrar de tirar isso depois*/
    background-color: #FFD970;
}

.cat-card {
    background-color: #FFE8A1;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
}

.cat-card img {
    width: 100%;
    border-radius: 12px;
    max-width: 40%;
}

.cat-card h4 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #1E005B;
}

.cat-card p {
    font-size: 12px;
    color: #333;
}


/* To basicamente copiando e colando o codigo que ja fiz no desktop pra tentar deixar responsivo no mobile
usando a media query, será que isso tá certo mesmo? senhor amado*/


@media (max-width: 768px) {

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 5%;
        background-color: #F85618;
        display: flex;
        justify-content: flex-start;
        padding-left: 32px;
        align-items: center;
        color: white;
    }

    header img {
        height: 100%;
        max-height: 40px;
        padding-left: 28px;
    }

    header p {
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
        padding-left: 16px;
        align-items: center;
        text-align: center;
    }

    .banner {
        width: 100%;
        height: auto;
        margin-top: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    .banner img {
        width: 100%;
        height: auto;
        max-width: none;
        object-fit: cover;
        
    }

    .banner-title {
        color: #1E005B;
        position: absolute;
        left: 10%;
        top: 40%;
        transform: translateY(-50%);
        font-size: 12px;
        max-width: 40%;

    }

    .banner-title h1 {
        font-size: 14px;
        text-align: center;
    }

    .banner-title p {
        font-size: 9px;
        text-align: left;
    }

    .decor-bar {
        height: 5%
    }

    .decor-bar h3 {
        color: white;
        padding: 36px;
        font-size: 8px;
    }

    .decor-bar li {
        font-size: 12px;
        padding: 0 16px;
    }

    li a {
        padding: 5px;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #F85618;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        text-align: center;
    }

    .adoption-info {
        width: 100%;
        margin: 0 auto;
        padding: 40px 0;
        text-align: center;
        color: #1E005B;
    }

    .steps {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 40px;
        font-size: 12px;
    }

    .step h3 {
        font-size: 14px;
    }

    .step-title h1 {
        font-size: 22px;
    }

    .step {
        width: 30%;
        min-width: 220px;
        margin-bottom: 20px;
        text-align: left;
    }

    .cat-grid {
        display: grid;
        padding-bottom: 20%; /* Lembrar de tirar isso depois*/
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .cat-card {
        background-color: #FFE8A1;
        padding: 10px;
        border-radius: 12px;
        text-align: center;
    }

    .cat-card img {
        width: 100%;
        border-radius: 12px;
        max-width: 80%;
    }

    .cat-card h4 {
        margin: 10px 0 5px;
        font-size: 16px;
        color: #1E005B;
    }

    .cat-card p {
        font-size: 12px;
        color: #333;
    }
    .cat-grid-title {
        font-size: 12px;
    }
}