@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mochiy+Pop+One&display=swap');

body {
    font-family: "Mochiy Pop One", sans-serif;
    font-style: normal;
    background-color: #FFF7DD;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    background-color: #F85618;
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
    align-items: center;
    color: white;
}

header img {
    height: 100%;
    max-height: 40px;
}

header p {
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    align-items: center;
}

.banner {
    width: 100%;
    height: auto;
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.banner img {
    width: 80%;
    height: auto;
    max-width: none;
    object-fit: cover;
}

.banner-title {
    color: #1E005B;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    max-width: 40%;
    line-height: 1.3;
}
.banner-title p{
    font-family: "Inter", sans-serif;
}
    
.decor-bar {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 60px;
    background-color: #51459D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decor-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.decor-bar li {
    color: white;
    padding: 0 42px;
    font-size: 22px;
}

li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

li a:hover {
    border-radius: 18px;
    background-color: #F85618;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F85618;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
}


@media (max-width: 768px) {

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #F85618;
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
    align-items: center;
    color: white;
}

header img {
    height: 100%;
    max-height: 40px;
    padding-left: 28px;
}

header p {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
    align-items: center;
}

.banner-title {
    color: #1E005B;
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translateY(-50%);
    font-size: 12px;
    max-width: 40%;
 
}
.banner-title h1 {
    font-size: 18px;
}
.banner-title p {
    font-size: 12px;
}

.decor-bar {
        height: 40px; 
    }

    .decor-bar li {
        font-size: 12px; 
        padding: 0 16px; 
    }

    li a {
        padding: 5px;
    }
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F85618;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
}
}
